[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
"base58" = "*"
ecdsa = "*"
websockets = "*"
grpcio = "*"
pyinstaller = "*"
googleapis-common-protos = "*"

[dev-packages]
pylint = "*"
grpcio-tools = "*"

[requires]
python_version = "3.7"
